@import url(https://use.typekit.net/efj7gzu.css);
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Patrick+Hand&display=swap');

:root {
	font-size: 1.2em;
	--gold: #a2863d;
}

body {
	color: white;
	background-color: #1e345d;
	margin: 0 auto;
}

.title {
	font-size: 3em;
	text-align: center;
	text-shadow: 3px 3px 8px #000000;
	margin-top: 20px;
}

.quote {
	font-family: 'Patrick Hand', cursive;
	margin-bottom: 60px;
	text-align: center;
	margin-top: 8px;
	font-size: 1.5em;
	color: #89a9e2;
	font-weight: bold;
	text-shadow: 3px 3px 8px #000000;
}

.info > h1 {
	font-size: 1.6em;
	font-family: Trajan Pro 3;
	color: #a2863d;
	margin: 15px;
	text-shadow: 3px 3px 8px #000000;
}

.info {
	text-align: center;
	font-family: adobe-garamond-pro;
	padding-left: 100px;
	padding-right: 100px;
	margin-bottom: 50px;
}

.prd {
	white-space: nowrap;
	text-align: center;
	font-size: 1em;
}

.red {
	color: #f5333f;
}

.blue {
	color: #2450ff;
}

.yellow {
	 color: #ffdd00;
}

.green {
	color: #76bc21;
}

.gold {
	color: var(--gold)
}

.table {
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

th, td {
	border: 1px solid #8b1c40;
	border-collapse: collapse;
	padding: 10px;
}

table {
	text-shadow: 3px 3px 8px #000000;
	font-size: 1.1em;
	border: 5px ridge #8B1C40;
	text-align: center;
	border-collapse: collapse;
}

.blue:hover,.red:hover,.green:hover,.yellow:hover {
	color: var(--gold);
}

.small-text {
	font-size: 0.7em;
	font-weight: normal;
	padding-top: 4px;
}

/* K-6 Content */

.K-6_Stuff {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	max-width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.k-6_image {
	text-align: center;
	max-width: 500px;
	margin: 20px;
}

.k-6_img {
	margin-bottom: 20px;
	width: 500px;
}

.k-6_table {
	margin: 20px;
	min-width: 250px;
}

.footer {
	text-align: center;
    font-family: skippy-sharp, sans-serif;
	color: #a2863d;
	text-shadow: 3px 3px 8px #000000;
	margin-bottom: 50px;
}